.welcome {
    background-color: var(--gray);
}

.welcome>img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center;
    box-shadow: var(--boxShadow);
}


.img-txt {
    border-radius: 13px 0px 13px 0px;
    max-width: 350px;
    max-height: 350px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: var(--boxShadow);
}

marquee {
    margin: -100px 0 -125px 0;
}

.documentation {
    background-color: var(--gray);
}

.documentation > img {
    border-radius: 13px;
    box-shadow: var(--boxShadow);
    max-width: 300px;
    width: 100%;
}

@media screen and (max-width:768px) {
    h1 {
        text-align: center;
    }

    section {
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    .me-5 {
        margin: 0 !important;
    }

    .section-1 {
        flex-direction: column-reverse;
    }
}